<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Category</title>
  <link rel="stylesheet" th:href="@{/css/mypetstore.css}" type="text/css" media="screen">
</head>
<body>
<header th:replace="~{common/top::Header}"></header>

<div id="Content">
  <div id="BackLink">
    <a th:href="@{/manage/manageCategory}">Return to Category List</a>
  </div>

  <div id="Catalog">
    <h2>Edit Category</h2>
    <form th:action="@{/manage/editCategory}" method="post">
      <table class="manage-table">
        <tr>
          <td>Category ID:</td>
          <td><input type="text" name="categoryId" th:value="${category.categoryId}" readonly style="background-color: #eee;"/></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" th:value="${category.name}" required/></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><input type="text" name="description" th:value="${category.description}" size="50"/></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <input type="submit" value="Update Category" class="Button" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<footer th:replace="~{common/bottom::Footer}"></footer>
</body>
</html>