<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账号管理 - JPetStore Admin</title>
    <link rel="stylesheet" th:href="@{/css/jpetstore.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<header th:replace="~{common/top::Header}"></header>

<div id="Content">
    <div id="BackLink"><a th:href="@{/manage/manageCategory}">返回管理主页</a></div>
    <div id="Catalog">

    <h2>用户信息管理</h2>

    <table class="manage-table" style="width: 100%;">
        <thead>
        <tr>
            <th>用户名</th>
            <th>邮箱</th>
            <th>姓名</th>
            <th>城市</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accountList}">
            <td th:text="${account.username}">j2ee</td>
            <td th:text="${account.email}">test@test.com</td>
            <td th:text="${account.firstName + ' ' + account.lastName}">ACME User</td>
            <td th:text="${account.city}">New York</td>
            <td th:text="${account.address1}">123 Street</td>
            <td>
                <a th:href="@{/manage/editAccountForm(username=${account.username})}">修改资料</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

<footer th:replace="~{common/bottom::Footer}"></footer>
</body>
</html>